@import '@/App.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: $white;
  color: $green-main;

  &__logo {
    display: flex;
    align-items: center;
    gap: 30px;

    h1 {
      font-family: 'Patrick Hand';
      font-size: 28px;
      margin: 0;
    }

    img {
      width: 165px;
      height: 100px;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;

    a {
      color: $green-main;
      text-decoration: none;
      font-weight: 500;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0%;
        height: 2px;
        background: $green-light;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;

    &__nav {
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}