@import '@/App.scss';

.intro {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}