@import '@/App.scss';

.footer {
  background-color: $green-main;
  color: $white;
  padding: 1.5rem 1rem;
  text-align: center;

  p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
    color: $white;
  }
}

/* Responsive */
@media (max-width: 600px) {
  .footer {
    font-size: 0.85rem;
  }
}